html {
    body {
        height: 100%;
        nav {
            height: 50px;
            width: 100%;
            display: flex;
            align-items: center;
            position: fixed;
            top: 0;
            ul {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 10px;
                li {
                    width: 100%;
                    padding: 10px 0;
                    background-color: royalblue;
                    border-right: 2px solid black;
                    border-radius: 2px;
                    transition: .2s;
                    &:hover {
                        background-color: rgb(102, 87, 0);
                        box-sizing: border-box;
                        border: 1px solid black;
                    }
                    &:active {
                        border: 2px solid black;
                    }
                    a {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 10px;
                        span {
                            color: white;
                        }
                        img {
                            margin-right: 10px;
                        }
                    }
                    &#NavSelected {
                        background-color: gold;
                        &:hover {
                            background-color: rgb(206, 175, 0);
                        }
                    }
                }
            }
        }
        main {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            #Container {
                #FollowMe,
                #Fonts {
                    position: relative;
                    background-color: gainsboro;
                    border: 2px solid black;
                    border-radius: 4px;
                    padding: 10px;
                    &:nth-child(1) {
                        margin-bottom: 10px;
                    }
                }
                h2 {
                    width: 100%;
                    text-align: center;
                    border-bottom: 2px solid black;
                    margin-bottom: 10px;
                }
                ul {
                    height: 100%;
                    width: 100%;
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-gap: 24px;
                    li {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0 4px;
                        border-bottom: 2px solid gray;
                        border-radius: 2px;
                        // &:nth-last-child(1) {
                        //     grid-column: 1 / span 2;
                        // }
                        a {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 10px 0px;
                            img {
                                width: 24px;
                                height: 24px;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}