html {
    display: flex;

    body {
        flex-grow: 1;
        display: flex;

        nav {
            flex-grow: 1;
            width: 100%;
            margin-top: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            top: 0;
            z-index: 10;

            ul {
                width: 95%;
                box-sizing: border-box;
                padding: 0 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                li {
                    width: 100%;
                    padding: 10px 0;
                    background-color: royalblue;
                    border-right: 2px solid black;
                    border-radius: 2px;
                    transition: .4s;

                    &:hover {
                        background-color: gold;
                        box-sizing: border-box;
                        border: 1px solid black;
                    }

                    &:active {
                        border: 2px solid black;
                    }

                    a {
                        width: 100%;
                        margin: 0 6px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        span {
                            color: white;
                        }

                        img {
                            margin-right: 10px;
                        }
                    }

                    &#NavSelected {
                        background-color: orange;

                        &:hover {
                            background-color: goldenrod;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 650px) {
    html {
        body {
            nav {
                ul {
                    width: 100vw;

                    li {
                        height: 40px;
                        padding: 6px 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        a {
                            margin: 0 2px;
                            font-size: 14px;

                            img {
                                margin-right: 14px;
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}