# Manual
_ignore
.netlify

# ------------- SASS
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# ------------- System
.DS_Store
.vscode/

# ------------- node
node_modules
dist

# ------------ Others
Simple radial menu.webloc
Assets/img/SignificadoDasCores/
Pages/Games/js.js
package-lock.json
