@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
p,
span,
li {
  font-family: "Source Code Pro", monospace;
  font-weight: 500;
  font-size: 16px;
  color: #f2f2f2;
}

body {
  display: flex;
  justify-content: center;
  background-color: black;
}

body a.language-switch {
  position: fixed;
  top: 0;
  right: 0;
  font-family: "VT323", monospace;
  font-size: 24px;
  color: #f28157;
  border-radius: 4px;
  background-color: rgba(47, 44, 64, 0.25);
}

body div.container {
  margin: 0 auto;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 794px;
  height: 1123px;
  background-color: #2f2c40;
}

body div.container .heading {
  color: #f28157;
}

body div.container .symbol {
  color: #80f2e7;
}

body div.container .symbol-alternative {
  color: #f28157;
}

body div.container img.sticker {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 128px;
  height: 128px;
  object-fit: contain;
  object-position: center;
}

body div.container header p.tag-cv-container *,
body div.container footer p.tag-cv-container * {
  font-size: 50px;
}

body div.container header p.name {
  font-size: 24px;
  color: #80f2e7;
}

body div.container main {
  flex: 1;
}

body div.container main h2.heading-container * {
  font-size: 32px;
}

body div.container main div.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

body div.container main section.work-experience li span.title,
body div.container main section.work-experience li p.title,
body div.container main section.education li span.title,
body div.container main section.education li p.title {
  font-size: 24px;
  color: #80f2e7;
}

body div.container main section.work-experience li span.role,
body div.container main section.work-experience li span.time,
body div.container main section.work-experience li span.institution,
body div.container main section.education li span.role,
body div.container main section.education li span.time,
body div.container main section.education li span.institution {
  color: #f28157;
  font-size: 24px;
}

body div.container main section.work-experience li ul,
body div.container main section.education li ul {
  margin-left: 16px;
}

body div.container main section.work-experience li ul li p.title,
body div.container main section.education li ul li p.title {
  font-size: 16px;
}

body div.container main section.education {
  margin-bottom: 0;
}

@media only screen and (max-width: 800px) {
  body {
    background-color: #2f2c40;
  }
  body a.language-switch {
    margin: 8px 2px;
    padding: 4px 8px;
    font-size: 16px;
    color: rgba(242, 128, 87, 0.5);
    z-index: 1;
  }
  body div.container {
    width: 100vw;
  }
  body div.container main img.sticker {
    right: 32px;
    width: 64px;
    height: 64px;
  }
  body div.container main section {
    margin-top: 12px;
  }
  body div.container main div.columns {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
