@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap"); // Matrix font

$background-color: #2f2c40;
$txt-heading-color: #f28157;
$txt-main-color: #f2f2f2;
$txt-secondary-color: #80f2e7;
$extra-color-1: #260326;

$space-xxxs: 2px;
$space-xxs: 4px;
$space-xs: 8px;
$space-s: 12px;
$space-m: 16px;
$space-l: 24px;
$space-xl: 32px;
$space-xxl: 64px;
$space-xxxl: 128px;

p,
span,
li {
  font-family: "Source Code Pro", monospace;
  // font-family: "VT323", monospace; // Matrix font
  font-weight: 500;
  font-size: $space-m;
  color: $txt-main-color;
}

body {
  display: flex;
  justify-content: center;
  background-color: black;

  a.language-switch {
    position: fixed;
    top: 0;
    right: 0;
    font-family: "VT323", monospace;
    font-size: $space-l;
    color: $txt-heading-color;
    border-radius: 4px;
    background-color: rgba(47, 44, 64, 0.25);
  }

  div.container {
    margin: 0 auto;
    padding: 0 $space-xs;
    display: flex;
    flex-direction: column;
    // gap: $space-s;
    position: relative;
    width: 794px; // width of a page (A4)
    height: 1123px; // height of a page (A4)
    background-color: $background-color;

    .heading {
      color: $txt-heading-color;
    }

    .symbol {
      color: $txt-secondary-color;
    }

    .symbol-alternative {
      color: $txt-heading-color;
    }

    img.sticker {
      position: absolute;
      top: $space-m;
      right: $space-m;
      width: $space-xxxl;
      height: $space-xxxl;
      object-fit: contain;
      object-position: center;
    }

    header,
    footer {
      p.tag-cv-container * {
        font-size: 50px;
      }
    }

    header {
      p {
        &.name {
          font-size: $space-l;
          color: $txt-secondary-color;
        }
      }
    }

    main {
      flex: 1;

      h2.heading-container * {
        font-size: $space-xl;
      }

      div.columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $space-m;
      }

      section.social {
      }
      section.skills {
      }

      section.work-experience,
      section.education {
        li {
          span.title,
          p.title {
            font-size: $space-l;
            color: $txt-secondary-color;
          }
          span.role,
          span.time,
          span.institution {
            color: $txt-heading-color;
            font-size: $space-l;
          }
          ul {
            margin-left: $space-m;
            li {
              p.title {
                font-size: $space-m;
              }
            }
          }
        }
      }
      section.education {
        margin-bottom: 0;
      }
    }
  }

  // scale to fit on mobile
  @media only screen and (max-width: 800px) {
    background-color: $background-color;

    a.language-switch {
      margin: $space-xs $space-xxxs;
      padding: $space-xxs $space-xs;
      font-size: $space-m;
      color: rgba(242, 128, 87, 0.5);
      z-index: 1;
    }

    div.container {
      width: 100vw;

      main {
        img.sticker {
          right: $space-xl;
          width: $space-xxl;
          height: $space-xxl;
        }

        section {
          margin-top: $space-s;
        }

        div.columns {
          grid-template-columns: 1fr;
          gap: 0;
        }
      }
    }
  }
}
