body {
    background-color: white;
    text-align: center;
    font-family: consolas, monaco, monospace;
}


/*
img {
    position: fixed;
    right: 5%;
    top: 8%;
    cursor: pointer;
    width: 125px;
    height: 77px;
}
*/

marquee {
    color: rgb(253, 210, 9);
    border: 1px dashed rgb(253, 210, 9);
    font-size: 150%;
    cursor: progress;
    padding: 1%;
    margin-right: 8%;
    margin-left: 6%;
}

.P_MinderaSchool {
    text-align: center;
    color: rgb(253, 210, 9);
    font-size: 450%;
    cursor: pointer;
}

.P_MinderaSchool:hover {
    font-size: 1000%;
    transition: all 1s;
}

.barra {
    background-color: rgb(253, 210, 9);
    height: 1%;
    border-radius: 10px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Tabelas */

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 95%;
    margin-left: 2%;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

table th {
    background-color: black;
    color: white;
}

td {
    text-align: left;
}

td:hover {
    background-color: rgb(253, 210, 9);
}

.td_butao {
    background-color: #000;
    border: solid 1px yellow;
    margin-left: 10%;
    border-radius: 25%;
    color: white;
    width: 50%;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
}

.td_butao:hover {
    margin-left: 0%;
    background: linear-gradient(to left, red, orange, yellow, green, blue, indigo, violet);
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    transition: all 1s;
}

.thTitulo {
    text-align: center;
    background-color: rgb(253, 210, 9);
    font-size: 50px;
}

.thTituloProjetos {
    background-color: rgb(0, 255, 255);
    font-size: 25px;
}

.thTituloHTML {
    background-color: rgb(255, 0, 0);
    font-size: 25px;
}

.thTituloCSS {
    background-color: rgb(38, 0, 255);
    font-size: 25px;
}

.thTituloJS {
    background-color: rgb(247, 223, 29);
    font-size: 25px;
}

.thTituloJava {
    background-color: rgb(206, 37, 7);
    font-size: 25px;
}

.thTitulosIntermedios {
    text-align: center;
    background-color: rgb(255, 0, 255);
    font-size: 25px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}