html {
  body {
    display: flex;
    justify-content: center;
    div#Paper {
      margin: 10px 0;
      padding: 4em;
      width: 790px;
      height: 1122px;
      border: 1px solid black;
      box-shadow: 0 0 20px black, 0 0 50px #8a4d0f inset;
    }
  }
}
