// Vaibles
$borderRadios: 8px;
* {
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-family: "Consolas", "monaco", "monospace", "Comic Sans MS", "cursive", "sans-serif";
}

html {
    height: 100%;
    width: 100%;
    body {
        background-color: black;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        ul {
            li {
                list-style: none;
            }
        }
        a {
            text-decoration: none;
        }
        div#Container {
            width: 75%;
            height: 75%;
            header {
                height: 20px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-top-left-radius: $borderRadios;
                border-top-right-radius: $borderRadios;
                background-color: #2E3537;
                div {
                    height: 100%;
                    width: 40px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-left: 8px;
                    span {
                        height: 10px;
                        width: 10px;
                        border-radius: 50%;
                        &#red {
                            background-color: red;
                        }
                        &#yellow {
                            background-color: yellow;
                        }
                        &#green {
                            background-color: green;
                        }
                    }
                }
                h1 {
                    font-size: 14px;
                    // span#path {
                    // }
                }
                p {
                    color: gray;
                    font-size: 14px;
                    margin-right: 8px;
                }
            }
            main {
                height: 100%;
                border-bottom-left-radius: $borderRadios;
                border-bottom-right-radius: $borderRadios;
                background-color: #273646;
                p {
                    margin: 2px 4px 4px;
                    span.Arrow {
                        color: yellowgreen;
                    }
                    span.path {
                        color: royalblue;
                    }
                    span.commandRight {
                        color: green;
                    }
                    a {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}