* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 25px;
    padding: 5px;
    background-color: rgb(0, 255, 0);
    border: 1px solid black;
    border-radius: 6px;
}

span {
    padding: 5px;
    background-color: green;
}