* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Consolas", "monaco", "monospace", "Comic Sans MS", "cursive", "sans-serif";
}

html {
  height: 100%;
  width: 100%;
}

html body {
  width: 100%;
}

html body ul li {
  list-style: none;
}

html body a {
  text-decoration: none;
}

html body header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}

html body header img#ProfileImg {
  margin: 10px 20px;
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

html body nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: firebrick;
}

html body nav ul {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

html body nav ul li {
  margin: 10px 0;
}

html body nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

html body nav ul li a img {
  margin-right: 10px;
}

html body main {
  height: 100%;
  width: 100%;
  background-color: blue;
}

html body main #Home h2 {
  width: 100%;
  text-align: center;
}

html body main #Projects ul li {
  display: none;
}

html body main #Settings {
  display: none;
}

html body main #Settings select {
  height: 20px;
  border-radius: 2px;
  border: 2px solid black;
  outline: none;
}

html body footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: green;
}

html body footer ul {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

html body footer ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

html body footer ul li a img {
  margin-right: 10px;
}
