:root {}

* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: "Consolas", "monaco", "monospace", "Comic Sans MS", "cursive", "sans-serif";
}

html {
    height: 100%;
    width: 100%;
    body {
        width: 100%;
        ul {
            li {
                list-style: none;
            }
        }
        a {
            text-decoration: none;
        }
        header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: red;
            img#ProfileImg {
                margin: 10px 20px;
                width: 100px;
                height: 100px;
                border-radius: 8px;
            }
        }
        nav {
            position: sticky;
            top: 0;
            width: 100%;
            background-color: firebrick;
            ul {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                li {
                    margin: 10px 0;
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 10px;
                        img {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        main {
            height: 100%;
            width: 100%;
            background-color: blue;
            #Home {
                h2 {
                    width: 100%;
                    text-align: center;
                }
            }
            #Projects {
                ul {
                    li {
                        display: none;
                    }
                }
            }
            #Settings {
                display: none;
                select {
                    height: 20px;
                    border-radius: 2px;
                    border: 2px solid black;
                    outline: none;
                }
                #Fonts {}
            }
        }
        footer {
            position: fixed;
            bottom: 0;
            height: 50px;
            width: 100%;
            background-color: green;
            ul {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                li {
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 10px;
                        img {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}