html body {
  background-color: orange;
}

html body #container {
  flex-grow: 10;
  width: 100%;
  padding: 50px 0;
  background-color: teal;
}

html body #container header {
  width: 100%;
  background-color: saddlebrown;
}

html body #container main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow;
}

html body #container main ul li div.Content {
  display: flex;
  cursor: default;
}

html body #container main ul li div.DropDown {
  display: none;
  transition: 1s;
}

html body #container main ul li div.DropDown a:hover {
  text-decoration: underline;
}

html body #container main ul li:hover div.DropDown {
  display: flex;
  flex-direction: column;
}
