// Vaibles
$borderRadios: 8px;
* {
  color: whitesmoke;
}

html {
  body {
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div#Container {
      width: 75%;
      height: 75%;
      header {
        height: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top-left-radius: $borderRadios;
        border-top-right-radius: $borderRadios;
        background-color: #2e3537;
        div {
          height: 100%;
          width: 60px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-left: 8px;
          span {
            height: 15px;
            width: 15px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              height: 90%;
              width: 90%;
              visibility: hidden;
            }
            &#red {
              background-color: red;
            }
            &#yellow {
              background-color: yellow;
            }
            &#green {
              background-color: green;
            }
            &:hover {
              img {
                visibility: visible;
              }
            }
          }
        }
        h1 {
          font-size: 14px;
        }
        p {
          color: gray;
          font-size: 14px;
          margin-right: 8px;
        }
      }
      main {
        height: 100%;
        border-bottom-left-radius: $borderRadios;
        border-bottom-right-radius: $borderRadios;
        background-color: #273646;
        p {
          margin: 0 4px 4px;
          display: flex;
          span {
            visibility: hidden;
            margin-left: 8px;
          }
          &:nth-child(1) {
            padding-top: 8px;
          }
          span#DataLogin {
            visibility: visible;
          }
          span.Arrow {
            color: palegreen;
          }
          span.path {
            color: royalblue;
          }
          span.commandRight {
            color: green;
          }
          span.answerUser {
            transition: 10s width;
          }
          a {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
