html {
  body {
    height: 100%;
    main {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(to right bottom, orange, royalblue);
      #Container {
        #FollowMe {
          position: relative;
          background-color: gainsboro;
          border: 2px solid black;
          border-radius: 4px;
          padding: 10px;
          &:nth-child(1) {
            margin-bottom: 10px;
          }
        }
        h2 {
          width: 100%;
          text-align: center;
          border-bottom: 2px solid black;
          margin-bottom: 10px;
        }
        ul {
          height: 100%;
          width: 100%;
          display: grid;
          grid-template-columns: auto auto auto;
          grid-gap: 24px;
          li {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 4px;
            border-bottom: 2px solid gray;
            border-radius: 2px;
            transition: 0.3s;
            a {
              width: 100%;
              height: 100%;
            }
            &:nth-child(11) {
              position: relative;
              &::before {
                content: "";
                pointer-events: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background-color: black;
                transition: 0.5s;
              }
            }
            &:hover {
              &:nth-child(1) {
                background-color: tomato;
                transform: scale(1.5);
                a {
                  cursor: zoom-in;
                }
              }
              &:nth-child(2) {
                background-color: yellow;
                transform: rotate(-25deg);
                a {
                  cursor: alias;
                }
              }
              &:nth-child(3) {
                background-color: red;
                transform: scale(0.85);
                a {
                  cursor: zoom-out;
                }
              }
              &:nth-child(4) {
                background-color: royalblue;
                transform: rotate(180deg);
                a {
                  cursor: wait;
                }
              }
              &:nth-child(5) {
                background-color: gray;
                opacity: 0.5;
                a {
                  cursor: no-drop;
                }
              }
              &:nth-child(6) {
                background: linear-gradient(
                  to bottom right,
                  yellow,
                  orange,
                  royalblue
                );
                a {
                  cursor: copy;
                }
              }
              &:nth-child(7) {
                background-color: green;
                box-shadow: 10px 10px 2px black;
                a {
                  cursor: context-menu;
                }
              }
              &:nth-child(8) {
                background-color: white;
                text-shadow: 4px 4px 4px royalblue;
                a {
                  cursor: none;
                }
              }
              &:nth-child(9) {
                background-color: black;
                a span {
                  transition: 0.3s;
                  letter-spacing: 5px;
                  direction: rtl;
                  unicode-bidi: bidi-override;
                  color: white;
                  font-weight: 900;
                  cursor: crosshair;
                }
              }
              &:nth-child(10) {
                background-color: purple;
                border-radius: 20px;
                a {
                  cursor: help;
                }
              }
              &:nth-child(11) {
                &::before {
                  width: 100%;
                  opacity: 0.5;
                }
                a {
                  cursor: s-resize;
                }
              }
            }
            // &:nth-last-child(1) {
            //     grid-column: 1 / span 2;
            // }
            a {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 10px 0px;
              img {
                width: 24px;
                height: 24px;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  html {
    body {
      main {
        #Container {
          ul {
            grid-template-columns: auto auto;
          }
        }
      }
    }
  }
}
