body {
    background-color: rgb(235, 36, 10);
}

marquee {
    color: black;
    border: 1px dashed black;
    font-size: 20px;
    cursor: progress;
    padding: 1%;
    margin-right: 7%;
    margin-left: 5%;
}

h1 {
    text-align: center;
    font-size: 450%;
    cursor: pointer;
    transition: all 1s;
}


/* Tabelas */

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

table th {
    background-color: black;
    color: white;
}

.thTitulo {
    text-align: center;
    background-color: rgb(253, 210, 9);
    font-size: 50px;
}

td {
    text-align: left;
}

td:hover {
    background-color: rgb(253, 210, 9);
}