html {
  body {
    background: linear-gradient(to right bottom, orange, royalblue);

    #container {
      flex-grow: 10;
      width: 100%;
      padding: 50px 0;

      header {
        width: 100%;
        font-size: 30px;
        font-weight: bolder;
        text-align: center;
        text-shadow: 0 0 10px royalblue, 0 0 20px royalblue;

        h1 {
          color: orange;
        }
      }

      main {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        article {
          max-width: 500px;

          h2 {
            text-align: center;
            font-size: 30px;
          }

          img {
            width: 500px;
          }

          div.Description {
            p {
              font-size: 20px;
              font-weight: 900;
              text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
            }

            div {
              display: flex;
              justify-content: space-between;

              a {
                color: orange;
                font-weight: bolder;
                text-shadow: 0 0 10px lightsalmon;
              }
            }
          }
        }

        aside {
          position: fixed;
          right: 25px;
          bottom: 0;
          transition: 0.5s;

          ul {
            width: 100%;

            li {
              width: 100%;
              margin: 10px 0;
              position: relative;

              button {
                width: 100%;
                padding: 10px;
                text-align: right;
                border-radius: 4px;
                box-shadow: 2px 2px white;
                background-color: orange;
                transition: 0.5s;
                cursor: pointer;

                &::before {
                  width: 0;
                  height: 100%;
                  position: absolute;
                  top: 0;
                  left: 0;
                  content: "";
                  background-color: black;
                  transition: 0.5s;
                  border-radius: 4px;
                }

                &:hover {
                  color: white;

                  &::before {
                    width: 100%;
                    opacity: 0.5;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  html {
    body {
      #container {
        main {
          aside {
            right: 2px;
            ul {
              li {
                button {
                  padding: 10px 4px;
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  html {
    body {
      #container {
        main {
          article {
            img {
              width: 90%;
            }
          }
        }
      }
    }
  }
}
