html body {
  background: linear-gradient(to right bottom, royalblue, orange);
}

html body #container {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

html body #container header {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

html body #container header img#ProfileImg {
  margin: 10px 20px;
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

html body #container header p {
  font-size: 15.5px;
}

html body #container div.banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 20%;
}

html body #container div.banner div#bannerConteiner {
  width: 33%;
  padding: 10px;
  display: none;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  color: white;
}

html body #container div.banner div#bannerConteiner button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 50%;
  background: none;
  box-shadow: 2px 2px 2px black;
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.3s;
  cursor: pointer;
}

html body #container div.banner div#bannerConteiner button:hover {
  color: gray;
  box-shadow: 3px 3px 3px black;
  transform: scale(1.1);
}

html body #container div.banner div#bannerConteiner button:active {
  color: silver;
  box-shadow: 1px 1px 1px black;
  transform: scale(0.9);
}

html body #container main {
  flex-grow: 10;
  width: 100%;
  margin-top: 20px;
}

html body #container main section#Home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

html body #container main section#Home form {
  width: 50%;
  padding: 10px;
  border: 2px solid royalblue;
  border-radius: 4px;
  background: orange;
}

html body #container main section#Home form section {
  display: flex;
  flex-direction: column;
  border-bottom: 1px dashed gray;
  border-radius: 2px;
}

html body #container main section#Home form section h2 {
  font-size: 24px;
  font-weight: 700;
}

html body #container main section#Home form section input,
html body #container main section#Home form section textarea {
  height: 36px;
  box-sizing: border-box;
  margin: 10px 4px;
  padding: 4px 6px;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 16px;
}

html body #container main section#Home form section input[type="range"] {
  padding: 4px 0;
}

html body #container main section#Home form section textarea {
  min-height: 50px;
  height: 100px;
  max-height: 150px;
  resize: vertical;
  overflow: auto;
}

html body #container main section#Home form section#FormName div {
  display: flex;
  align-items: center;
}

html body #container main section#Home form section#FormName div input {
  width: 100%;
}

html body #container main section#Home form section#FormDetails div {
  display: grid;
  grid-template-columns: 67% 33%;
}

html body #container main section#Home form section#MultiOptions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

html body #container main section#Home form section#MultiOptions h2 {
  grid-area: 1 / 1 / 2 / 3;
}

html body #container main section#Home form section#MultiOptions fieldset input:focus {
  transform: scale(1.3);
}

html body #container main section#Home form section#MultiOptions fieldset label {
  display: flex;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}

html body #container main section#Home form section#MultiOptions fieldset label abbr {
  text-decoration: none;
}

html body #container main section#Home form section#BtnsActions {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
}

html body #container main section#Home form section#BtnsActions button {
  padding: 6px 0;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  box-shadow: 2px 2px 2px black;
  transition: 0.3s;
  cursor: pointer;
}

html body #container main section#Home form section#BtnsActions button:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 6px black;
}

html body #container main section#Home form section#BtnsActions button:active {
  transform: scale(1);
  box-shadow: 4px 4px 4px black;
}

html body #container aside {
  position: fixed;
  bottom: 10px;
  right: 50px;
}

html body #container aside * {
  cursor: pointer;
}

html body #container aside button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid black;
}

html body #container aside dialog {
  margin: auto;
  padding: 8px;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 50%;
  border-radius: 4px;
  border: 2px solid black;
}

html body #container aside dialog select {
  width: 130px;
  height: 30px;
  border: 2px solid gray;
  border-radius: 10px;
  font-size: 18px;
  background-color: royalblue;
}

html body #container aside dialog button {
  margin-left: 4px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background: white;
}

html body #container aside dialog button:hover {
  background: whitesmoke;
}

html body #container aside dialog button:hover:active {
  background: lightgray;
}

@media only screen and (max-width: 1000px) {
  html body #container main section#Home form {
    width: 90%;
  }
  html body #container aside {
    bottom: 50px;
  }
}
